
.project {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5vh;
  height:auto;
  padding: 1rem;
  background-color: #E3F6F5;
}
.project img {
  max-width: 50vw;
}
.project-item {
  padding: 0 0 2.5vh 0;
}
.project-item-description {
  padding-right: 3vw;
}

.project .col-01 a{
  text-decoration: none;
  color:#409488;
  font-size: 1.25rem;
}
.project .col-01 a:hover {
  color: #4E432E;
  font-size: 1.5rem;
}
.project-item-container {
  display: flex;
  flex-direction: column;
}
.notes-container {
  text-align: left;
}
  .project h1 {
    color: #3e497a;
    font-size: 3.5vh;
    padding:0 1.5vh;
  }

  .project p {
    font-size: 2.1vh;
    color: #3e497a;
  }

  .project svg {
    font-size: 6vh;
    color: #3e497a;
  }


  @media (min-width: 80vw) {
    .project{
      flex-direction: row;
    }
    .col-01, .col-02 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .project img{
      max-height: 60vh;
    }

  }